<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="utf-8">
        <title>多粉APP</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=1">
        <!-- Add to home screen for Android and modern mobile browsers -->
        <link rel="manifest" href="manifest.json">
        <meta name="theme-color" content="#ffffff">
        <!-- META_THEME_COLOR -->
        <!-- Set render engine for 360 browser -->
        <meta name="renderer" content="webkit">
        <!-- No Baidu Siteapp-->
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <!-- Add to home screen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="多粉APP">
        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon-152x152.png">
        <!-- Add to home screen for Windows -->
        <meta name="msapplication-TileImage" content="/static/img/msapplication-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#000000">
        <% for (var jsFilePath of htmlWebpackPlugin.files.js) { %>
            <link rel="preload" href="<%= jsFilePath %>" as="script">
        <% } %>
        <% for (var cssFilePath of htmlWebpackPlugin.files.css) { %>
            <link rel="preload" href="<%= cssFilePath %>" as="style">
        <% } %>
        <script>
            //服务器地址
            var request = 'http://192.168.3.98:8401';
        </script>
    </head>
    <body>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
